.reaction-holder{
    position: relative;
    height: 50px;
}

.reaction-box{
    position: absolute;
    top: -50px;
    border-radius: 25px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
    display: flex;
    opacity: 0;
    padding: 3px;
}

.icn.em{
    border-radius: 26px;
}

.icn.em:hover{
    background-color: black;
    box-shadow: none;

}
.h{
    height: 45PX;
    width: 45px;
    padding: 2px;
}
.em:hover{
    background-color: black;
    box-shadow: none;
}

.pseudo-box{
    position: absolute;
    top: -50px;
    width: 200px;
    height: 56px;
    z-index: 11;
}
.pseudo-box:hover + .reaction-box {
    display: none;
}

.reaction-holder:hover > .reaction-box{
    animation: fade-in 200ms forwards;
    z-index: 12;
}
