.feedBody{
    height: calc(100vh - 60px);
    width: 100vw;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

.feed-card-holder{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

a.icn:hover{
    text-decoration: underline;
}